body{
    background: #fff;
    max-width: 100%;
    overflow-x: hidden;
}
.breakcrum{
    padding: 10px 20px;
    font-size: 12px;
    color: #838181;
    
}
.product-page-layout {
    display: grid;
    grid-template-columns: 420px minmax(500px, 1fr) 320px;
    gap: 30px;
    max-width: 1400px;
    margin: 30px auto;
    padding: 0 20px;
    overflow-x: hidden;
}



/* ===============================
   LEFT COLUMN (IMAGES)
================================ */
.product-page-layout,
.left-column,
.center-column {
    overflow: visible;
}
.left-column {
    display: flex;
     max-width: 420px;
    gap: 15px;
    position: sticky;
    top: 20px;               /* space below navbar */
    align-self: flex-start;
    
}

.product-icons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-icons img{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
}

.main-image {
     width: 380px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}
.main-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}




/* ===============================
   CENTER COLUMN (DETAILS)
================================ */

.center-column {
    font-size: 14px;
}

.product-title {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.3;
     margin-bottom: 6px;
      max-width: 680px;
}

.store-link {
    color: #007185;
    text-decoration: none;
    font-size: 14px;
}

.rating-row {
    margin: 8px 0;
    font-size: 14px;
}

.rating {
    color: #f08804;
}

.reviews {
    color: #007185;
    margin-left: 6px;
     text-decoration: none;
}

.badge {
    background: #232f3e;
    color: white;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 3px;
    margin-left: 8px;
}

.center-column hr {
    margin: 12px 0;
    border: none;
    border-top: 1px solid #ddd;
}


/* ===============================
   PRICE SECTION
================================ */


.price-section {
    margin-top: 15px;
}

.discount {
    color: #cc0c39;
    font-size: 28px;
    margin-right: 10px;
}

.price {
    font-size: 28px;
    font-weight: bold;
}

.mrp {
    font-size: 14px;
    color: #565959;
}

.tax {
    font-size: 14px;
    margin-top: 5px;
}

.emi {
    margin-top: 10px;
    font-size: 14px;
}

.emi a {
    color: #007185;
    text-decoration: none;
}

/* ===============================
   OFFERS
================================ */

.offers-title {
    margin-top: 20px;
     font-size: 16px;
}
.offer-fa {
    color: #cc0c39;
    font-size: 16px;
    margin-right: 6px;
}


.offers-row {
    display: flex;
    gap: 8px;
     margin-top: 10px;
}

.offer-card {
  box-shadow: 
        0 2px 5px rgba(15,17,17,0.15);
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    border-radius: 6px;
    font-size: 12.5px;
     line-height: 1.3;
}

.offer-card a {
    color: #007185;
    text-decoration: none;
}

.offer-card strong {
    display: block;
    margin-bottom: 4px;
}


/* ===============================
   ICON INFO ROW
================================ */

.info-scroll-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.info-row {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;

    overflow-x: auto;
    overflow-y: hidden;

    scroll-behavior: smooth;
    padding: 10px 0;
    max-width: 100%;
}

/* Hide scrollbar */
.info-row::-webkit-scrollbar {
    display: none;
}
.info-row {
    scrollbar-width: none;
}

.info-item {
    min-width: 90px;
    flex-shrink: 0;
    text-align: center;
    font-size: 12px;
    color: #007185;
}

.info-item i {
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
    color: #565959;
}

/* Arrow buttons */
.scroll-btn {
    background: #ffffff;
    border: 1px solid #d5d9d9;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #0f1111;
}

.scroll-btn:hover {
    background: #f7fafa;
}

.scroll-btn i {
    font-size: 14px;
}


/* ===============================
   RIGHT COLUMN (BUY BOX)
================================ */
.buy-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    font-size: 14px;
}

.buy-price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.delivery a {
    color: #007185;
    text-decoration: none;
}
.delivery span{
     color: #007185;
}

.location a{
     color: #007185;
    text-decoration:dashed;
}
.stock {
    color: #007600;
    font-weight: 400;
    margin: 10px 0;
    font-size: 20px;
}

.quantity {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #f2f0f0;
}

.add-cart {
    background: #ffd814;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    cursor: pointer;
}

.buy-now {
    background: #ffa41c;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}
/* ================= PROTECTION PLAN ================= */

.protection-plan h4 {
    margin-bottom: 8px;
    font-size: 14px;
}

.check-item {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 6px;
    cursor: pointer;
    color: #007185;
}

.check-item input {
    margin-top: 3px;
  
}

/* ================= SELLER INFO ================= */

.seller-info {
    margin-top: 14px;
    font-size: 13px;
}

.seller-info p {
    margin: 4px 0;
}

.seller-info span {
    color: #565959;
    display: inline-block;
    width: 80px;
}

.wishlist {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.add-cart:hover {
    background-color: #f7ca00;
}

.buy-now:hover {
    background-color: #f08804;
}

@media (max-width: 1024px) {
    .product-page-layout {
        grid-template-columns: 1fr;
    }

    .left-column {
        justify-content: center;
    }

    .main-image img {
        width: 100%;
        height: auto;
    }
}



/* ===============================
   color selection
================================ */
.product-variant {
    margin: 16px 0;
}

.variant-label {
    font-size: 14px;
    margin-bottom: 8px;
}

.variant-options {
    display: flex;
    gap: 12px;
}

.variant {
    border: 1px solid #d5d9d9;
    padding: 6px;
    border-radius: 8px;
    width: 70px;
    text-align: center;
    cursor: pointer;
}

.variant img {
    width: 100%;
     height: 60px;                  /* FIXED IMAGE HEIGHT */
    object-fit: contain;           /* NEVER stretch */
    display: block;
}

.variant-price {
    font-size: 12px;
}

.variant.active {
    border: 2px solid #007185;
}

.variant del{
    font-size: 14px;
    color: #565959;
}

.product-specs {
    margin: 16px 0;
    font-size: 14px;
}

.product-specs div {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 4px 0;
}

.product-specs span:first-child {
    color: #565959;
}


/*ABOUT*/

.about-item h3 {
    margin-bottom: 8px;
}

.about-item ul {
    padding-left: 18px;
    font-size: 14px;
    line-height: 1.5;
}

.about-item ul.collapsed li:nth-child(n+5) {
    display: none;
}

.show-more {
    background: none;
    border: none;
    color: #007185;
    cursor: pointer;
    font-size: 14px;
    margin-top: 6px;
}


/* ===============================
   CAROUSEL SECTION
================================ */

.carousel-section {
    margin: 40px 5px;
}

.carousel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.carousel-header h2 {
    font-size: 20px;
    font-weight: 600;
}

.page-indicator {
    font-size: 16px;
    color: #565959;
}

/* ===============================
   WRAPPER
================================ */

.carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.carousel-track {
    display: flex;
    gap: 26px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 48px;

}

/* hide scrollbar */
.carousel-track::-webkit-scrollbar {
    display: none;
}
.carousel-track {
    scrollbar-width: none;
}

/* ===============================
   CARD
================================ */

.carousel-card {
    width: 160px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;

    font-size: 13px;
}

.carousel-card img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    display: block;        /* removes inline gap */
    margin: 0;             /* NO margin */
    padding: 0;

}
.card-image {
    height: 160px;              /* FIXED IMAGE HEIGHT */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image img {
    max-width:  100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.carousel-card .title {
    color: #007185;
    line-height: 1.4;
}

.carousel-card .rating {
    color: #f08804;
    font-size: 17px;
}

.carousel-card .rating span {
    color: #565959;
}

.carousel-card .price {
    font-weight: 400;
    margin-top: 2px;
    font-size: 20px;
}

.carousel-card .delivery {
    font-size: 12px;
    color: #565959;
}



/* ---------- TEXT ZONE ---------- */
.card-content {
    height: 200px;              /* FIXED TEXT HEIGHT */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
}

/* Clamp title like Amazon */
.card-content .title {
    color: #6275d7;
    line-height: 1.25;

    display: -webkit-box;
    -webkit-line-clamp: 7;      /* max 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* ===============================
   ARROWS
================================ */

.carousel-btn {
    position: absolute;
    top: 40%;
    width: 34px;
    height: 60px;
    background: #fff;
    border: 1px solid #d5d9d9;
    cursor: pointer;
    font-size: 26px;
    line-height: 1;
    z-index: 2;
}

.carousel-btn.left {
    left: -10px;
}

.carousel-btn.right {
    right: -10px;
}

.carousel-btn:hover {
    background: #f7fafa;
}
